<!DOCTYPE html>
<html>
    <head>
        <title>Ombuds</title>
        <link rel=stylesheet href="/res/site.css">
    </head>
    <body>
        <div id="wrap"><div id="container">
                <div id="headline">
                    <h2 class="title">
                        <a href="/">Soapbox<span class="black">.</span><span class="darkBlue">Systems</span></a>
                    </h2>

                    <h3 class="phrase">Resilient Public Speech for the Internet</h3>
                </div>
                <div id="navbar">
                    <ul>
                        <li><a href="/">Concept</a></li>
                        <li><a href="/software">Software</a></li>
                        <li><a href="/questions">Q&A</a></li>
                        <li><a href="/research">Research</a>
                        <li><a href="/people">People</a>
                    </ul>
                </div>
                <div id="content">
                    {{ content }} 
            </div></div>
        </div>
    </body>
</html>
