<!DOCTYPE html>
<html>
    <head>
        <title>Ombuds</title>
        <link rel=stylesheet href="/res/site.css">
    </head>
    <body>
        <div id="wrap"><div id="container">
                <div id="headline">
                    <a class="logo-a" href="/">
                        <img id="logo" src="/res/OmbudsLogoText.png" />
                    </a>
                    <div id="navbar">
                        <p>
                        {% assign url = page.url|remove:'index.html' %}
                        {% for link in site.navigation %}
                        {% unless forloop.first %}
                        <span>&bull;</span>
                        {% endunless %}
                        <a href="{{link.url}}"
                            {% if url == link.url %}class="active"{% endif %}
                            title="{{link.text}}">{{link.text}}</a>
                        {% endfor %}
                        </p>
                    </div>
                </div>
                <div id="content">
                    {{ content }} 
                </div>
                <div id="footer">
                    <p><a class="big-link" href="https://github.com/soapboxsys">Soapbox Systems</a> &copy; 2015</p>
                </div>
        </div></div>
        <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    </body>
</html>
