<!DOCTYPE html>
<html>
    <head>
        <title>Ombuds</title>
        <link rel=stylesheet href="/res/site.css">
    </head>
    <body>
        <div id="wrap"><div id="container">
                <div id="headline">
                    <h2 class="title">
                        <a href="/">Soapbox<span class="black">.</span><span class="darkBlue">Systems</span></a>
                    </h2>

                    <h3 class="phrase">Resilient Public Speech for the Internet</h3>
                </div>
                <div id="navbar">
                    <ul>
                    {% assign url = page.url|remove:'index.html' %}
                    {% for link in site.navigation %}
                        <li {% if url == link.url %}class="active"{% endif %}>
                            <a href="{{link.url}}" title="{{link.text}}">{{link.text}}</a>
                            </li>
                    {% endfor %}
                    </ul>
                </div>
                <div id="content">
                    {{ content }} 
            </div></div>
        </div>
    </body>
</html>
